.emailList {
  flex: 1;
  overflow: scroll;
  height: 720px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.emailList::-webkit-scrollbar {
  display: none;
}

.emailList_settings {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}

.emailList_sections {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  /* overflow: scroll; */
}

.emailList_list {
  /* overflow-y: scroll !important; */
  padding-bottom: 20%;
}
